.battlefield-dock {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: calc($index / 2);
}
.ship {
    position: absolute;
	border: 3px solid $ship-borderColor;
	background: $ship-backColor;
	width: $size-ship;
    height: $size-ship;
    cursor: grab;
}

.ship-row-1 {
}

.ship-row-2 {
	width: calc($size-ship * 2);
}

.ship-row-3 {
	width: calc($size-ship * 3);
}

.ship-row-4 {
	width: calc($size-ship * 4);
}

.ship-column-1 {
}

.ship-column-2 {
	height: calc($size-ship * 2);
}

.ship-column-3 {
	height: calc($size-ship * 3);
}

.ship-column-4 {
	height: calc($size-ship * 4);
}