@import 'variables', 'main', 'header', 'field';
@import 'modal/modal';
@import 'shot', 'action';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: min-content;
    user-select: none;
}
.app {
    position: relative;
    display: grid;
    grid-template-areas: "header"
                         "main";
    grid-auto-rows: max-content;
    gap: calc($index * 1.5);
    min-height: 115vh;
    background: $backColor-main;

    @include textDefault;
}
.btn {
    outline: none;
    border: none;
    cursor: pointer;
    transition: .5s;
    @include textDefault;
}

