.btn.app-main__btn {
    padding: calc($index / 2) calc($index);
    border-radius: 1.5rem;

    background: $backColor-second;
    color: $btn-text-color;
    &:hover {
        background: $backColor-second--hover;
    }
    &:active {
        transform: translateY(2px);
    }
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: 'start start start'
                        'field-player menu field-opponent';
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: calc($index * 1.3);
    column-gap: calc($index * 3);
}
.start-game {
    grid-area: start;
    justify-self: center;
}
.btn.app-main__btn.start {
    padding: calc($index / 2) calc($index * 2.5);
}
.battlefields {
    grid-area: fields;
    justify-self: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: calc($index * 2);
}
.arrange-ships {
    grid-area: arrange;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $index;
}
.app-menu {
    grid-area: menu;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: calc($index * 2);
}
.field-player {
    grid-area: field-player;
}
.field-opponent {
    grid-area: field-opponent;
    align-self: flex-start;
}