.btn.app-main__btn {
    padding: calc($index / 2) calc($index);
    border-radius: 1.5rem;

    background: $backColor-second;
    color: $btn-text-color;
    &:hover {
        background: $backColor-second--hover;
    }
    &:active {
        transform: translateY(2px);
    }

}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: 'start'
                        'fields'
                        'arrange';
    justify-items: center;
    gap: calc($index * 1.3);
    @media (max-width: 800px) {
        grid-template-areas: 'start arrange'
                             'fields fields';
    }
}
.start-game {
    grid-area: start;
    justify-self: center;
}
.btn.app-main__btn.start {
    padding: calc($index / 2) calc($index * 2.5);
}
.battlefields {
    grid-area: fields;
    justify-self: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: calc($index * 2);
}
.arrange-ships {
    grid-area: arrange;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $index;
}