.app-actions {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.app-action {
	width: 210px;
	padding: 10px;
}

.shot {
	width: $size-ship;
	height: $size-ship;
	text-align: center;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
}

.shot-missed {
	/* color: gray; */
	color: "black";
}

.shot-wounded {
	background: #fbdede;
	z-index: 1;
}

.shot-wounded::after {
	content: " ";
	width: calc($size-ship * 1.3);
	height: calc($size-ship * 1.3);
	border-top: 2px solid red;
	position: absolute;
	z-index: -1;
	transform: rotate(45deg);
	top: 11px;
	right: 11px;
}

.shot-wounded::before {
	content: " ";
	width: calc($size-ship * 1.3);
	height: calc($size-ship * 1.3);
	border-top: 2px solid red;
	position: absolute;
	z-index: -1;
	transform: rotate(-45deg);
	top: 11px;
	left: 11px;
}

.shot-killed {
	border: 3px solid red;
}

.hidden {
	display: none;
}